.titlenews {
    background-color: #AD8EDE;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.section-header-news{
   
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/fondo1.png);
    background-position: center 45%;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
 
    color: #FF3E75;
    
    
}
.news{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}
#novedadesContainer {
    width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px;
    margin: 0 auto;
    margin-top: 2%;
  }
  
  .card {
    position: relative;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

  }
  
  .card img {
    width: 100%;
    border-radius: 4px;
  }
  .card p{
   height: 50px;
  }

  .author-section {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .author-section img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .author-info {
    display: flex;
    align-items: center;
  }
  
  .author-name {
    font-weight: bold;
    margin-right: 12px;
  }
  
  .date {
    color: #555;
  }

/* Estilos para el contador de likes */
.like-counter {
  bottom: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  margin-top: 8px; 

}

.like-counter img {
  width: 20px;
  height: auto;
  margin-right: 10px;

}

/* Estilos para el enlace "Leer más" */
.read-more {
  bottom: 16px;
  right: 16px;
  color: #FF3E75; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;

}