.proyect{
    background-color: #0000003b;
    padding: 4% 2% ;
}
.proyect {
    color: black;
    position: relative;
    width: 100%;
}

.proyect .proyect-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;

}
.proyect h2{
    margin-top: 6.5%;
}
.proyect p{
    color: rgb(94, 91, 91);
    font-size: 1.5rem;
}

.proyect .proyect-item {
    position: relative;
    margin-bottom: 1%;
   
}
.proyect .proyect-img {
    position: relative;
    overflow: hidden;
}

.proyect .proyect-img img {
    position: relative;
    width: 90%;

}

.proyect-text h3{
    text-align: justify;
}

.proyect .proyect-text {
    width: 100%;
    position: relative;
    padding: 15px 15px 10px 15px;
    text-align: left;
}

.proyect .proyect-text .arte{
    font-size: 110%;
}

.proyect .proyect-text .icon{
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

@media screen and (max-width:700px){
    .proyect .proyect-item{
        display: grid;
        grid-template-columns: 1fr ;
        padding: 2%;
    
    }


    .proyect h2{
        margin-top: 38%;
    }

}
