.proyect{
    background-color: #0000003b;
    padding: 4% 0 4% 7%
}


.proyect .proyect-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1.5em;
    padding: 3%;
}

.proyect p{
    color: rgb(94, 91, 91);
    font-size: 1.5rem;
}


.proyect .proyect-img {
    /* position: relative; */
    overflow: hidden;
}

.proyect .proyect-img img {
    /* position: relative; */
    width: 100%;
    padding-top: 5vh;
}

.proyect-text h3{
    text-align: justify;
}

.proyect .proyect-text {
    width: 100%;
    /* position: relative; */
    padding-left:  10vh;
    text-align: left;
}

.proyect .proyect-text .arte{
    font-size: 110%;
}

.proyect .proyect-text .icon{
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.container-proyect{
    
}

@media screen and (max-width:700px){
    .proyect .proyect-item{
        display: grid;
        grid-template-columns: 1fr ;
        padding: 2%;
    
    }


    .proyect h2{
        margin-top: 38%;
    }

}
